---
title: Fix Tooltips to Area of Screen
description: When displaying information on touch, designate an area on screen that will update accordingly.
submitted_by: "ireneros"
timestamp: 2014-06-09 15:05:06 -0400
---

<div class="col-md-8">
  <h1>Fix Tooltips to Area of Screen</h1>
  <p>
    Traditionally on the web, when we wish to display additional information about a section
    of our chart or map, we frequently use tooltips. The tooltips tend to appear around the area we hover.
    Because space is limited on mobile and a touch gesture utilizes more space, consider using a fixed area
    on the screen to display relevant information in.

  </p>
  <p>
    For example, instead of this: <br>
  </p><p>
    <object data="/src/assets/tooltip_floating.svg" type="image/svg+xml">
      <img src="/src/assets/tooltip_floating.png" />
    </object>
  </p>

  <p>
    Consider using the screen bottom like so:
  </p><p>
    <object data="/src/assets/tooltip_fixed.svg" type="image/svg+xml">
      <img src="/src/assets/tooltip_fixed.png" />
    </object>
  </p>
</div>