---
title: Vertical Bar Charts
description: When using bar charts in portrait mode, stack your bar chart bars vertically.
submitted_by: "ireneros"
timestamp: 2014-06-03 11:28:16 -0400
---

<div class="col-md-8">
  <h1>Vertical Bar Charts</h1>
  <p>
    When displaying information using bar charts, we often want to display additional
    metadata about our bars, like labels or the exact values we're representing.
    When our data has more than a few data points, creating a bar chart that has bars
    side-by-side on a narrow screen limits dramatically the amount of data we can
    display.
  </p>
  <p>
    For example: <br>
  </p><p>
    <object data="/src/assets/vertical_bar_chart_1.svg" type="image/svg+xml">
      <img src="/src/assets/vertical_bar_chart_1.jpg" />
    </object>
  </p>

  <p>
    However, this can be pretty easily resolved by rotating the bars 90 degrees
    so that they are stacked vertically, like so:
  </p><p>
    <object data="/src/assets/vertical_bar_chart_2.svg" type="image/svg+xml">
      <img src="/src/assets/vertical_bar_chart_2.jpg" />
    </object>
  </p>
</div>