---
title: Use Vertical Scrolling
description: When creating interfaces that don't fit in their entirety on the screen, enable vertical scrolling instead of horizontal scrolling.
submitted_by: "ireneros"
timestamp: 2014-06-04 14:02:16 -0400
---

<div class="col-md-8">
  <h1>Use Vertical Scrolling</h1>
  <p>
    When displaying information that has to take more space than is available on screen
    and it is not possible to condense it, consider using vertical space for scrolling than
    horizontal space. Horizontal scrolling is not as common across apps,
    and as a result users will be more familiar with vertical scrolling. Additionally,
    a vertical scrolling gesture can "cover" more ground than a horizontal one
    (when in portrait mode.)
  </p>
  <p>
    For example: <br>
  </p><p>
    <object data="/src/assets/horizontal_scroll.svg" type="image/svg+xml">
      <img src="/src/assets/horizontal_scroll.png" />
    </object>
  </p>

  <p>
    However, this can be pretty easily resolved by stacking information:
  </p><p>
    <object data="/src/assets/vertical_scroll.svg" type="image/svg+xml">
      <img src="/src/assets/vertical_scroll.png" />
    </object>
  </p>
</div>