---
title: MobileVis
---

<div class="col-md-8">

  <h2>Patterns & Best Practices</h2>
  <ul>
    <%= listFiles %>
  </ul>
</div>

<div class="col-md-4">

  <h2>Example Gallery</h2>
  <p>
    These patterns are generated based on the examples in our gallery! See
    them <a href="http://mobilev.is">here</a> and submit your own.
  </p>

  <h2>Additional Resources</h2>
  <p>
    Looking for additional resources? See our growing list
    <a href="/resources.html">here</a>. Have resources you'd like
    to suggest? Tweet at <a href="http://twitter.com/ireneros">@ireneros</a>
    or submit a ticket on <a href="http://github.com/bocoup/mobilevis-patterns">Github</a>.
  </p>

  <h2>About</h2>

  <p>To learn more about this project, see our <a href="http://mobilev.is/about">about</a> page.</p>
</div>