---
title: MobileVis Resources
---

<div class="col-md-8">

  <h1>Additional Resources</h1>

  Want to learn more? The web is full of amazing resources! Here
  are a few of them. If you'd like to see additional resources here, tweet at
  <a href="http://twitter.com/ireneros">@ireneros</a> on submit a ticket on
  <a href="http://github.com/bocoup/mobilevis-patterns">Github</a>.

  <h3>More Examples</h3>

  <ul>
    <li>
      <a href="http://mobileinfovis.com/">Mobile Infovis</a>
    </li>
  </ul>

  <h3> Research </h3>

  Related academic publications:

  <ul class="papers">
    <li>
      <a href="http://www.cc.gatech.edu/~john.stasko/papers/avi14-touch.pdf">
        Defining Interaction Techniques for Visualizations on Touch-based Devices.
      </a>
      <br>
      Ramik Sadana, John Stasko, ACM AVI 2014.
    </li>

    <li>
      <a href="http://www.cc.gatech.edu/~john.stasko/papers/infovis13-poster-touch.pdf">
        Interacting with Data Visualizations on Tablets and Phones: Developing Effective Touch-based Gestures and Operations (poster)
      </a>
      <br>
      Ramik Sadana, John Stasko, IEEE InfoVis 2013.
    </li>

     <li>
      <a href="http://research.microsoft.com/pubs/189011/touchvis-CHI2013-cameraready.pdf">
        TouchViz: a case study comparing two interfaces for data analytics on tablets
      </a>
      <br>
      Steven M. Drucker, Danyel Fisher, Ramik Sadana, Jessica Herron, and m.c. schraefel, ACM Sig CHI 2013.
    </li>

  </ul>


</div>